In [1]:
import os, sys
import numpy as np
import xarray as xr
import pandas as pd

In [8]:
filename =  '/root/data/rrr/integrated_weather_dataset/data/raw/Guan_AR_Catalog/globalARcatalog_MERRA2_1980-2023_v4.0.nc'
ds = xr.open_dataset(filename, chunks={'time': 1460}, engine='netcdf4')
ds = ds.squeeze()
ds = ds.reset_coords(names=['lev', 'ens'], drop=True)

In [9]:
MIN_LON = -120+360
MAX_LON = -115+360
MIN_LAT = 31.5
MAX_LAT = 38
start_date = '2017-01-01 00:00'
end_date = '2017-02-01 00:00'
ds = ds.sel(time=slice(start_date, end_date), lat=slice(MIN_LAT,MAX_LAT), lon=slice(MIN_LON,MAX_LON))

In [10]:
ds.to_dataframe()

                                islnd  iscst  ivt_begin  ivt_end  shapemap  \
lon   lat  time
240.0 31.5 2017-01-01 00:00:00    0.0    0.0        NaN      NaN       NaN
           2017-01-01 06:00:00    0.0    0.0        NaN      NaN       NaN
           2017-01-01 12:00:00    0.0    0.0        NaN      NaN       NaN
           2017-01-01 18:00:00    0.0    0.0        NaN      NaN       NaN
           2017-01-02 00:00:00    0.0    0.0        NaN      NaN       NaN
...                               ...    ...        ...      ...       ...
245.0 38.0 2017-01-31 00:00:00    1.0    0.0        NaN      NaN       NaN
           2017-01-31 06:00:00    1.0    0.0        NaN      NaN       NaN
           2017-01-31 12:00:00    1.0    0.0        NaN      NaN       NaN
           2017-01-31 18:00:00    1.0    0.0        NaN      NaN       NaN
           2017-02-01 00:00:00    1.0    0.0        NaN      NaN       NaN

                                axismap  tnsctmap  lflocmap  kidmap  \
lon   lat  time
240.0 31.5 2017-01-01 00:00:00      NaN       NaN       NaN     NaN
           2017-01-01 06:00:00      NaN       NaN       NaN     NaN
           2017-01-01 12:00:00      NaN       NaN       NaN     NaN
           2017-01-01 18:00:00      NaN       NaN       NaN     NaN
           2017-01-02 00:00:00      NaN       NaN       NaN     NaN
...                                 ...       ...       ...     ...
245.0 38.0 2017-01-31 00:00:00      NaN       NaN       NaN     NaN
           2017-01-31 06:00:00      NaN       NaN       NaN     NaN
           2017-01-31 12:00:00      NaN       NaN       NaN     NaN
           2017-01-31 18:00:00      NaN       NaN       NaN     NaN
           2017-02-01 00:00:00      NaN       NaN       NaN     NaN

                                kstatusmap  ...  kdispy  kdispdir  kinstvelx  \
lon   lat  time                             ...
240.0 31.5 2017-01-01 00:00:00         NaN  ...     NaN       NaN        NaN
           2017-01-01 06:00:00         NaN  ...     NaN       NaN        NaN
           2017-01-01 12:00:00         NaN  ...     NaN       NaN        NaN
           2017-01-01 18:00:00         NaN  ...     NaN       NaN        NaN
           2017-01-02 00:00:00         NaN  ...     NaN       NaN        NaN
...                                    ...  ...     ...       ...        ...
245.0 38.0 2017-01-31 00:00:00         NaN  ...     NaN       NaN        NaN
           2017-01-31 06:00:00         NaN  ...     NaN       NaN        NaN
           2017-01-31 12:00:00         NaN  ...     NaN       NaN        NaN
           2017-01-31 18:00:00         NaN  ...     NaN       NaN        NaN
           2017-02-01 00:00:00         NaN  ...     NaN       NaN        NaN

                                kinstvely  kinstveldir  axisidx  axislon  \
lon   lat  time
240.0 31.5 2017-01-01 00:00:00        NaN          NaN      NaN      NaN
           2017-01-01 06:00:00        NaN          NaN      NaN      NaN
           2017-01-01 12:00:00        NaN          NaN      NaN      NaN
           2017-01-01 18:00:00        NaN          NaN      NaN      NaN
           2017-01-02 00:00:00        NaN          NaN      NaN      NaN
...                                   ...          ...      ...      ...
245.0 38.0 2017-01-31 00:00:00        NaN          NaN      NaN      NaN
           2017-01-31 06:00:00        NaN          NaN      NaN      NaN
           2017-01-31 12:00:00        NaN          NaN      NaN      NaN
           2017-01-31 18:00:00        NaN          NaN      NaN      NaN
           2017-02-01 00:00:00        NaN          NaN      NaN      NaN

                                axislat  numobj  intblosto
lon   lat  time
240.0 31.5 2017-01-01 00:00:00      NaN     NaN        NaN
           2017-01-01 06:00:00      NaN     NaN        NaN
           2017-01-01 12:00:00      NaN     NaN        NaN
           2017-01-01 18:00:00      NaN     NaN        NaN
           2017-01-02 00:00:00      NaN     NaN        NaN
...                                 ...     ...        ...
245.0 38.0 2017-01-31 00:00:00      NaN     NaN        NaN
           2017-01-31 06:00:00      NaN     NaN        NaN
           2017-01-31 12:00:00      NaN     NaN        NaN
           2017-01-31 18:00:00      NaN     NaN        NaN
           2017-02-01 00:00:00      NaN     NaN        NaN

[15750 rows x 55 columns]

In [11]:
df = ds.kidmap.to_dataframe(dim_order=['time', 'lat', 'lon'])
df = df.dropna(axis='rows')

In [13]:
df.reset_index()

                    time   lat      lon        kidmap
0    2017-01-02 12:00:00  31.5  240.625  2.016123e+11
1    2017-01-02 12:00:00  31.5  241.250  2.016123e+11
2    2017-01-02 12:00:00  31.5  241.875  2.016123e+11
3    2017-01-03 00:00:00  31.5  240.625  2.017010e+11
4    2017-01-03 00:00:00  31.5  241.250  2.017010e+11
...                  ...   ...      ...           ...
4757 2017-01-24 00:00:00  33.5  243.750  2.017012e+11
4758 2017-01-24 00:00:00  33.5  244.375  2.017012e+11
4759 2017-01-24 00:00:00  33.5  245.000  2.017012e+11
4760 2017-01-24 00:00:00  34.0  245.000  2.017012e+11
4761 2017-01-24 00:00:00  34.5  245.000  2.017012e+11

[4762 rows x 4 columns]